nav {
    width:100%;
    background-color: #333;
    color: #fff;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 11px;
    img.main-logo {
        width:50px;
        position: absolute;
        left:0;
    }
    a.link-to-addstartup {
        display: block;
        position: absolute;
        right:20px;
        border-radius: 5px;
        padding:4px 8px;
        text-decoration: none;
        border:none;
        margin-left:30px;
        color:#fff;
        &:hover,
        &:focus,
        &:active {
            background-color: #99FFCE;
            color: #000;
        }
    }
}